<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>546</key>
	<string>332.37530</string>
	<key>545</key>
	<string>331.99850</string>
	<key>544</key>
	<string>331.62170</string>
	<key>543</key>
	<string>331.24490</string>
	<key>542</key>
	<string>330.86810</string>
	<key>541</key>
	<string>330.49130</string>
	<key>540</key>
	<string>330.11450</string>
	<key>539</key>
	<string>329.73770</string>
	<key>538</key>
	<string>329.36090</string>
	<key>537</key>
	<string>328.98410</string>
	<key>536</key>
	<string>328.60730</string>
	<key>535</key>
	<string>328.23050</string>
	<key>534</key>
	<string>327.85370</string>
	<key>533</key>
	<string>327.66574</string>
	<key>532</key>
	<string>327.47744</string>
	<key>531</key>
	<string>327.28914</string>
	<key>530</key>
	<string>327.10084</string>
	<key>529</key>
	<string>326.91254</string>
	<key>528</key>
	<string>326.72424</string>
	<key>527</key>
	<string>326.53594</string>
	<key>526</key>
	<string>326.34764</string>
	<key>525</key>
	<string>326.15934</string>
	<key>524</key>
	<string>325.97104</string>
	<key>523</key>
	<string>325.78312</string>
	<key>522</key>
	<string>325.59492</string>
	<key>521</key>
	<string>325.40672</string>
	<key>520</key>
	<string>325.21852</string>
	<key>519</key>
	<string>325.03032</string>
	<key>518</key>
	<string>324.84212</string>
	<key>517</key>
	<string>324.65392</string>
	<key>516</key>
	<string>324.46572</string>
	<key>515</key>
	<string>324.27752</string>
	<key>514</key>
	<string>324.08932</string>
	<key>513</key>
	<string>323.82016</string>
	<key>512</key>
	<string>323.55159</string>
	<key>511</key>
	<string>323.28302</string>
	<key>510</key>
	<string>323.01445</string>
	<key>509</key>
	<string>322.74588</string>
	<key>508</key>
	<string>322.47731</string>
	<key>507</key>
	<string>322.20874</string>
	<key>506</key>
	<string>321.94017</string>
	<key>505</key>
	<string>321.67160</string>
	<key>504</key>
	<string>321.40303</string>
	<key>503</key>
	<string>321.13446</string>
	<key>502</key>
	<string>320.86589</string>
	<key>501</key>
	<string>320.59732</string>
	<key>500</key>
	<string>320.32875</string>
	<key>499</key>
	<string>320.04738</string>
	<key>498</key>
	<string>319.76568</string>
	<key>497</key>
	<string>319.48398</string>
	<key>496</key>
	<string>319.20228</string>
	<key>495</key>
	<string>318.92058</string>
	<key>494</key>
	<string>318.63888</string>
	<key>493</key>
	<string>318.35718</string>
	<key>492</key>
	<string>318.07548</string>
	<key>491</key>
	<string>317.79378</string>
	<key>490</key>
	<string>317.51208</string>
	<key>489</key>
	<string>317.23038</string>
	<key>488</key>
	<string>316.94868</string>
	<key>487</key>
	<string>316.66698</string>
	<key>486</key>
	<string>316.38528</string>
	<key>485</key>
	<string>316.10358</string>
	<key>484</key>
	<string>315.82188</string>
	<key>483</key>
	<string>315.54018</string>
	<key>482</key>
	<string>315.25848</string>
	<key>481</key>
	<string>314.97678</string>
	<key>480</key>
	<string>314.69508</string>
	<key>479</key>
	<string>314.50761</string>
	<key>478</key>
	<string>314.32006</string>
	<key>477</key>
	<string>314.13251</string>
	<key>476</key>
	<string>313.94496</string>
	<key>475</key>
	<string>313.75741</string>
	<key>474</key>
	<string>313.56986</string>
	<key>473</key>
	<string>313.38231</string>
	<key>472</key>
	<string>313.19476</string>
	<key>471</key>
	<string>313.00721</string>
	<key>470</key>
	<string>312.81966</string>
	<key>469</key>
	<string>312.63211</string>
	<key>468</key>
	<string>312.44456</string>
	<key>467</key>
	<string>312.25701</string>
	<key>466</key>
	<string>312.06946</string>
	<key>465</key>
	<string>311.88191</string>
	<key>464</key>
	<string>311.69436</string>
	<key>463</key>
	<string>311.50681</string>
	<key>462</key>
	<string>311.31926</string>
	<key>461</key>
	<string>311.13171</string>
	<key>460</key>
	<string>310.94416</string>
	<key>459</key>
	<string>310.38257</string>
	<key>458</key>
	<string>309.82112</string>
	<key>457</key>
	<string>309.25967</string>
	<key>456</key>
	<string>308.69822</string>
	<key>455</key>
	<string>308.13677</string>
	<key>454</key>
	<string>307.57532</string>
	<key>453</key>
	<string>307.01387</string>
	<key>452</key>
	<string>306.45242</string>
	<key>451</key>
	<string>305.89097</string>
	<key>450</key>
	<string>305.32952</string>
	<key>449</key>
	<string>304.76807</string>
	<key>448</key>
	<string>304.20662</string>
	<key>447</key>
	<string>303.64517</string>
	<key>446</key>
	<string>303.08372</string>
	<key>445</key>
	<string>302.52227</string>
	<key>444</key>
	<string>301.96082</string>
	<key>443</key>
	<string>301.39937</string>
	<key>442</key>
	<string>300.83792</string>
	<key>441</key>
	<string>300.27647</string>
	<key>440</key>
	<string>299.71502</string>
	<key>439</key>
	<string>299.24850</string>
	<key>438</key>
	<string>298.78200</string>
	<key>437</key>
	<string>298.31550</string>
	<key>436</key>
	<string>297.84900</string>
	<key>435</key>
	<string>297.38250</string>
	<key>434</key>
	<string>296.91600</string>
	<key>433</key>
	<string>296.44950</string>
	<key>432</key>
	<string>295.98300</string>
	<key>431</key>
	<string>295.51650</string>
	<key>430</key>
	<string>295.05000</string>
	<key>429</key>
	<string>294.58350</string>
	<key>428</key>
	<string>294.11700</string>
	<key>427</key>
	<string>293.65050</string>
	<key>426</key>
	<string>293.18400</string>
	<key>425</key>
	<string>292.71750</string>
	<key>424</key>
	<string>292.25100</string>
	<key>423</key>
	<string>291.78450</string>
	<key>422</key>
	<string>291.31800</string>
	<key>421</key>
	<string>290.85150</string>
	<key>420</key>
	<string>290.38500</string>
	<key>419</key>
	<string>289.91941</string>
	<key>418</key>
	<string>289.45421</string>
	<key>417</key>
	<string>288.98901</string>
	<key>416</key>
	<string>288.52381</string>
	<key>415</key>
	<string>288.05861</string>
	<key>414</key>
	<string>287.59341</string>
	<key>413</key>
	<string>287.12821</string>
	<key>412</key>
	<string>286.66301</string>
	<key>411</key>
	<string>286.19781</string>
	<key>410</key>
	<string>285.73261</string>
	<key>409</key>
	<string>285.26741</string>
	<key>408</key>
	<string>284.80221</string>
	<key>407</key>
	<string>284.33701</string>
	<key>406</key>
	<string>283.87181</string>
	<key>405</key>
	<string>283.40661</string>
	<key>404</key>
	<string>282.94141</string>
	<key>403</key>
	<string>282.47621</string>
	<key>402</key>
	<string>282.01101</string>
	<key>401</key>
	<string>281.54581</string>
	<key>400</key>
	<string>281.08061</string>
	<key>399</key>
	<string>281.30144</string>
	<key>398</key>
	<string>280.80149</string>
	<key>397</key>
	<string>280.30154</string>
	<key>396</key>
	<string>279.80159</string>
	<key>395</key>
	<string>279.30164</string>
	<key>394</key>
	<string>278.80169</string>
	<key>393</key>
	<string>278.30174</string>
	<key>392</key>
	<string>277.80179</string>
	<key>391</key>
	<string>277.30184</string>
	<key>390</key>
	<string>276.80189</string>
	<key>389</key>
	<string>276.30194</string>
	<key>388</key>
	<string>275.80199</string>
	<key>387</key>
	<string>275.30204</string>
	<key>386</key>
	<string>274.80209</string>
	<key>385</key>
	<string>274.30214</string>
	<key>384</key>
	<string>273.80219</string>
	<key>383</key>
	<string>273.30224</string>
	<key>382</key>
	<string>272.80229</string>
	<key>381</key>
	<string>272.30234</string>
	<key>380</key>
	<string>271.80239</string>
	<key>379</key>
	<string>271.33929</string>
	<key>378</key>
	<string>270.87674</string>
	<key>377</key>
	<string>270.41419</string>
	<key>376</key>
	<string>269.95164</string>
	<key>375</key>
	<string>269.48909</string>
	<key>374</key>
	<string>269.02654</string>
	<key>373</key>
	<string>268.56399</string>
	<key>372</key>
	<string>268.10144</string>
	<key>371</key>
	<string>267.63889</string>
	<key>370</key>
	<string>267.17634</string>
	<key>369</key>
	<string>266.71379</string>
	<key>368</key>
	<string>266.25124</string>
	<key>367</key>
	<string>265.78869</string>
	<key>366</key>
	<string>265.32614</string>
	<key>365</key>
	<string>264.86359</string>
	<key>364</key>
	<string>264.40104</string>
	<key>363</key>
	<string>263.93849</string>
	<key>362</key>
	<string>263.47594</string>
	<key>361</key>
	<string>263.01339</string>
	<key>360</key>
	<string>262.55084</string>
	<key>359</key>
	<string>262.27404</string>
	<key>358</key>
	<string>261.99714</string>
	<key>357</key>
	<string>261.72024</string>
	<key>356</key>
	<string>261.44334</string>
	<key>355</key>
	<string>261.16644</string>
	<key>354</key>
	<string>260.88954</string>
	<key>353</key>
	<string>260.61264</string>
	<key>352</key>
	<string>260.33574</string>
	<key>351</key>
	<string>260.05884</string>
	<key>350</key>
	<string>259.78194</string>
	<key>349</key>
	<string>259.50504</string>
	<key>348</key>
	<string>259.22814</string>
	<key>347</key>
	<string>258.95124</string>
	<key>346</key>
	<string>258.67434</string>
	<key>345</key>
	<string>258.39744</string>
	<key>344</key>
	<string>258.12054</string>
	<key>343</key>
	<string>257.84364</string>
	<key>342</key>
	<string>257.56674</string>
	<key>341</key>
	<string>257.28984</string>
	<key>340</key>
	<string>257.01294</string>
	<key>339</key>
	<string>256.55277</string>
	<key>338</key>
	<string>256.09237</string>
	<key>337</key>
	<string>255.63197</string>
	<key>336</key>
	<string>255.17157</string>
	<key>335</key>
	<string>254.71117</string>
	<key>334</key>
	<string>254.25077</string>
	<key>333</key>
	<string>253.79037</string>
	<key>332</key>
	<string>253.32997</string>
	<key>331</key>
	<string>252.86957</string>
	<key>330</key>
	<string>252.40917</string>
	<key>329</key>
	<string>251.94877</string>
	<key>328</key>
	<string>251.48837</string>
	<key>327</key>
	<string>251.02797</string>
	<key>326</key>
	<string>250.56757</string>
	<key>325</key>
	<string>250.10717</string>
	<key>324</key>
	<string>249.64677</string>
	<key>323</key>
	<string>249.18637</string>
	<key>322</key>
	<string>248.72597</string>
	<key>321</key>
	<string>248.26557</string>
	<key>320</key>
	<string>247.80517</string>
	<key>319</key>
	<string>247.34644</string>
	<key>318</key>
	<string>246.88744</string>
	<key>317</key>
	<string>246.42844</string>
	<key>316</key>
	<string>245.96944</string>
	<key>315</key>
	<string>245.51044</string>
	<key>314</key>
	<string>245.05144</string>
	<key>313</key>
	<string>244.59244</string>
	<key>312</key>
	<string>244.13344</string>
	<key>311</key>
	<string>243.67444</string>
	<key>310</key>
	<string>243.21544</string>
	<key>309</key>
	<string>242.75644</string>
	<key>308</key>
	<string>242.29744</string>
	<key>307</key>
	<string>241.83844</string>
	<key>306</key>
	<string>241.37944</string>
	<key>305</key>
	<string>240.92044</string>
	<key>304</key>
	<string>240.46144</string>
	<key>303</key>
	<string>240.00244</string>
	<key>302</key>
	<string>239.54344</string>
	<key>301</key>
	<string>239.08444</string>
	<key>300</key>
	<string>238.62544</string>
	<key>299</key>
	<string>237.98477</string>
	<key>298</key>
	<string>237.34462</string>
	<key>297</key>
	<string>236.70447</string>
	<key>296</key>
	<string>236.06432
</string>
	<key>295</key>
	<string>235.42417</string>
	<key>294</key>
	<string>234.78402</string>
	<key>293</key>
	<string>234.14387</string>
	<key>292</key>
	<string>233.50372</string>
	<key>291</key>
	<string>232.86357</string>
	<key>290</key>
	<string>232.22342</string>
	<key>289</key>
	<string>231.58327</string>
	<key>288</key>
	<string>230.94312</string>
	<key>287</key>
	<string>230.30297</string>
	<key>286</key>
	<string>229.66282</string>
	<key>285</key>
	<string>229.02267</string>
	<key>284</key>
	<string>228.38252</string>
	<key>283</key>
	<string>227.74237</string>
	<key>282</key>
	<string>227.10222</string>
	<key>281</key>
	<string>226.46207</string>
	<key>280</key>
	<string>225.82192</string>
	<key>279</key>
	<string>225.36611</string>
	<key>278</key>
	<string>224.91061</string>
	<key>277</key>
	<string>224.45511</string>
	<key>276</key>
	<string>223.99961</string>
	<key>275</key>
	<string>223.54411</string>
	<key>274</key>
	<string>223.08861</string>
	<key>273</key>
	<string>222.63311</string>
	<key>272</key>
	<string>222.17761</string>
	<key>271</key>
	<string>221.72211</string>
	<key>270</key>
	<string>221.26661</string>
	<key>269</key>
	<string>220.81111</string>
	<key>268</key>
	<string>220.35561</string>
	<key>267</key>
	<string>219.90011</string>
	<key>266</key>
	<string>219.44461</string>
	<key>265</key>
	<string>218.98911</string>
	<key>264</key>
	<string>218.53361</string>
	<key>263</key>
	<string>218.07811</string>
	<key>262</key>
	<string>217.62261</string>
	<key>261</key>
	<string>217.16711</string>
	<key>260</key>
	<string>216.71161</string>
	<key>259</key>
	<string>216.25806</string>
	<key>258</key>
	<string>215.80401</string>
	<key>257</key>
	<string>215.34996</string>
	<key>256</key>
	<string>214.89591</string>
	<key>255</key>
	<string>214.44186</string>
	<key>254</key>
	<string>213.98781</string>
	<key>253</key>
	<string>213.53376</string>
	<key>252</key>
	<string>213.07971</string>
	<key>251</key>
	<string>212.62566</string>
	<key>250</key>
	<string>212.17161</string>
	<key>249</key>
	<string>211.71756</string>
	<key>248</key>
	<string>211.26351</string>
	<key>247</key>
	<string>210.80946</string>
	<key>246</key>
	<string>210.35541</string>
	<key>245</key>
	<string>209.90136</string>
	<key>244</key>
	<string>209.44731</string>
	<key>243</key>
	<string>208.99326</string>
	<key>242</key>
	<string>208.53921</string>
	<key>241</key>
	<string>208.08516</string>
	<key>240</key>
	<string>207.63111</string>
	<key>239</key>
	<string>206.90738</string>
	<key>238</key>
	<string>206.18413</string>
	<key>237</key>
	<string>205.46088</string>
	<key>236</key>
	<string>204.73763</string>
	<key>235</key>
	<string>204.01438</string>
	<key>234</key>
	<string>203.29113</string>
	<key>233</key>
	<string>202.56788</string>
	<key>232</key>
	<string>201.84463</string>
	<key>231</key>
	<string>201.12138</string>
	<key>230</key>
	<string>200.39813</string>
	<key>229</key>
	<string>199.67488</string>
	<key>228</key>
	<string>198.95163</string>
	<key>227</key>
	<string>198.22838</string>
	<key>226</key>
	<string>197.50513</string>
	<key>225</key>
	<string>196.78188</string>
	<key>224</key>
	<string>196.05863</string>
	<key>223</key>
	<string>195.33538</string>
	<key>222</key>
	<string>194.61213</string>
	<key>221</key>
	<string>193.88888</string>
	<key>220</key>
	<string>193.16563</string>
	<key>219</key>
	<string>192.62592</string>
	<key>218</key>
	<string>192.08607</string>
	<key>217</key>
	<string>191.54622</string>
	<key>216</key>
	<string>191.00637</string>
	<key>215</key>
	<string>190.46652</string>
	<key>214</key>
	<string>189.92667</string>
	<key>213</key>
	<string>189.38682</string>
	<key>212</key>
	<string>188.84697</string>
	<key>211</key>
	<string>188.30712</string>
	<key>210</key>
	<string>187.76727</string>
	<key>209</key>
	<string>187.22742</string>
	<key>208</key>
	<string>186.68757</string>
	<key>207</key>
	<string>186.14772</string>
	<key>206</key>
	<string>185.60787</string>
	<key>205</key>
	<string>185.06802</string>
	<key>204</key>
	<string>184.52817</string>
	<key>203</key>
	<string>183.98832</string>
	<key>202</key>
	<string>183.44847</string>
	<key>201</key>
	<string>182.90862</string>
	<key>200</key>
	<string>182.36877</string>
	<key>199</key>
	<string>181.65309</string>
	<key>198</key>
	<string>180.93684</string>
	<key>197</key>
	<string>180.22059</string>
	<key>196</key>
	<string>179.50434</string>
	<key>195</key>
	<string>178.78809</string>
	<key>194</key>
	<string>178.07184</string>
	<key>193</key>
	<string>177.35559</string>
	<key>192</key>
	<string>176.63934</string>
	<key>191</key>
	<string>175.92309</string>
	<key>190</key>
	<string>175.20684</string>
	<key>189</key>
	<string>174.49059</string>
	<key>188</key>
	<string>173.77434</string>
	<key>187</key>
	<string>173.05809</string>
	<key>186</key>
	<string>172.34184</string>
	<key>185</key>
	<string>171.62559</string>
	<key>184</key>
	<string>170.90934</string>
	<key>183</key>
	<string>170.19309</string>
	<key>182</key>
	<string>169.47684</string>
	<key>181</key>
	<string>168.76059
</string>
	<key>180</key>
	<string>168.04434
168.04434 
</string>
	<key>179</key>
	<string>167.15416</string>
	<key>178</key>
	<string>166.26481</string>
	<key>177</key>
	<string>165.37546</string>
	<key>176</key>
	<string>164.48611</string>
	<key>175</key>
	<string>163.59676</string>
	<key>174</key>
	<string>162.70741</string>
	<key>173</key>
	<string>161.81806</string>
	<key>172</key>
	<string>160.92871</string>
	<key>171</key>
	<string>160.03936</string>
	<key>170</key>
	<string>159.15001</string>
	<key>169</key>
	<string>158.26066</string>
	<key>168</key>
	<string>157.37131</string>
	<key>167</key>
	<string>156.48196</string>
	<key>166</key>
	<string>155.59261</string>
	<key>165</key>
	<string>154.70326</string>
	<key>164</key>
	<string>153.81391</string>
	<key>163</key>
	<string>152.92456</string>
	<key>162</key>
	<string>152.03521</string>
	<key>161</key>
	<string>151.14586</string>
	<key>160</key>
	<string>150.25651</string>
	<key>159</key>
	<string>149.99169</string>
	<key>158</key>
	<string>149.72614</string>
	<key>157</key>
	<string>149.46059</string>
	<key>156</key>
	<string>149.19504</string>
	<key>155</key>
	<string>148.92949</string>
	<key>154</key>
	<string>148.66394</string>
	<key>153</key>
	<string>148.39839</string>
	<key>152</key>
	<string>148.13284</string>
	<key>151</key>
	<string>147.86729</string>
	<key>150</key>
	<string>147.60174</string>
	<key>149</key>
	<string>147.33619</string>
	<key>148</key>
	<string>147.07064</string>
	<key>147</key>
	<string>146.80509</string>
	<key>146</key>
	<string>146.53954</string>
	<key>145</key>
	<string>146.27399</string>
	<key>144</key>
	<string>146.00844</string>
	<key>143</key>
	<string>145.74289</string>
	<key>142</key>
	<string>145.47734</string>
	<key>141</key>
	<string>145.21179</string>
	<key>140</key>
	<string>144.94624</string>
	<key>139</key>
	<string>144.32639</string>
	<key>138</key>
	<string>143.70939</string>
	<key>137</key>
	<string>143.09239</string>
	<key>136</key>
	<string>142.47539</string>
	<key>135</key>
	<string>141.85839</string>
	<key>134</key>
	<string>141.24139</string>
	<key>133</key>
	<string>140.62439</string>
	<key>132</key>
	<string>140.00739</string>
	<key>131</key>
	<string>139.39039</string>
	<key>130</key>
	<string>138.77339</string>
	<key>129</key>
	<string>138.15639</string>
	<key>128</key>
	<string>137.53939</string>
	<key>127</key>
	<string>136.92239</string>
	<key>126</key>
	<string>136.30539</string>
	<key>125</key>
	<string>135.68839</string>
	<key>124</key>
	<string>135.07139</string>
	<key>123</key>
	<string>134.45439</string>
	<key>122</key>
	<string>133.83739</string>
	<key>121</key>
	<string>133.22039</string>
	<key>120</key>
	<string>132.60339</string>
	<key>119</key>
	<string>131.72744</string>
	<key>118</key>
	<string>130.85174</string>
	<key>117</key>
	<string>129.97604</string>
	<key>116</key>
	<string>129.10034</string>
	<key>115</key>
	<string>128.22464</string>
	<key>114</key>
	<string>127.34894</string>
	<key>113</key>
	<string>126.47324</string>
	<key>112</key>
	<string>125.59754</string>
	<key>111</key>
	<string>124.72184</string>
	<key>110</key>
	<string>123.84614</string>
	<key>109</key>
	<string>122.97044</string>
	<key>108</key>
	<string>122.09474</string>
	<key>107</key>
	<string>121.21904</string>
	<key>106</key>
	<string>120.34334</string>
	<key>105</key>
	<string>119.46764</string>
	<key>104</key>
	<string>118.59194</string>
	<key>103</key>
	<string>117.71624</string>
	<key>102</key>
	<string>116.84054</string>
	<key>101</key>
	<string>115.96484</string>
	<key>100</key>
	<string>115.08914</string>
	<key>99</key>
	<string>114.39255</string>
	<key>98</key>
	<string>113.69597</string>
	<key>97</key>
	<string>112.99938</string>
	<key>96</key>
	<string>112.30279</string>
	<key>95</key>
	<string>111.60620</string>
	<key>94</key>
	<string>110.90961</string>
	<key>93</key>
	<string>110.21303</string>
	<key>92</key>
	<string>109.51644</string>
	<key>91</key>
	<string>108.81985</string>
	<key>90</key>
	<string>108.12326</string>
	<key>89</key>
	<string>107.77559</string>
	<key>88</key>
	<string>107.42819</string>
	<key>87</key>
	<string>107.08079</string>
	<key>86</key>
	<string>106.73339</string>
	<key>85</key>
	<string>106.38599</string>
	<key>84</key>
	<string>106.03859</string>
	<key>83</key>
	<string>105.69119</string>
	<key>82</key>
	<string>105.34379</string>
	<key>81</key>
	<string>104.99639</string>
	<key>80</key>
	<string>104.64899</string>
	<key>79</key>
	<string>103.78285</string>
	<key>78</key>
	<string>102.91685</string>
	<key>77</key>
	<string>102.05085</string>
	<key>76</key>
	<string>101.18485</string>
	<key>75</key>
	<string>100.31885</string>
	<key>74</key>
	<string>99.45285</string>
	<key>73</key>
	<string>98.58685</string>
	<key>72</key>
	<string>97.72085</string>
	<key>71</key>
	<string>96.85485</string>
	<key>70</key>
	<string>95.98885</string>
	<key>69</key>
	<string>95.12632</string>
	<key>68</key>
	<string>94.26402</string>
	<key>67</key>
	<string>93.40172</string>
	<key>66</key>
	<string>92.53942</string>
	<key>65</key>
	<string>91.67712</string>
	<key>64</key>
	<string>90.81482</string>
	<key>63</key>
	<string>89.95252</string>
	<key>62</key>
	<string>89.09022</string>
	<key>61</key>
	<string>88.22792</string>
	<key>60</key>
	<string>87.36562</string>
	<key>59</key>
	<string>85.99364</string>
	<key>58</key>
	<string>84.62174</string>
	<key>57</key>
	<string>83.24984</string>
	<key>56</key>
	<string>81.87794</string>
	<key>55</key>
	<string>80.50604</string>
	<key>54</key>
	<string>79.13414</string>
	<key>53</key>
	<string>77.76224</string>
	<key>52</key>
	<string>76.39034</string>
	<key>51</key>
	<string>75.01844</string>
	<key>50</key>
	<string>73.64654</string>
	<key>49</key>
	<string>72.96430</string>
	<key>48</key>
	<string>72.28200</string>
	<key>47</key>
	<string>71.59970</string>
	<key>46</key>
	<string>70.91740</string>
	<key>45</key>
	<string>70.23510</string>
	<key>44</key>
	<string>69.55280</string>
	<key>43</key>
	<string>68.87050</string>
	<key>42</key>
	<string>68.18820</string>
	<key>41</key>
	<string>67.50590</string>
	<key>40</key>
	<string>66.82360</string>
	<key>39</key>
	<string>65.63519</string>
	<key>38</key>
	<string>64.44719</string>
	<key>37</key>
	<string>63.25919</string>
	<key>36</key>
	<string>62.07119</string>
	<key>35</key>
	<string>60.88319</string>
	<key>34</key>
	<string>59.69519</string>
	<key>33</key>
	<string>58.50719</string>
	<key>32</key>
	<string>57.31919</string>
	<key>31</key>
	<string>56.13119</string>
	<key>30</key>
	<string>54.94319</string>
	<key>29</key>
	<string>54.09950</string>
	<key>28</key>
	<string>53.25560</string>
	<key>27</key>
	<string>52.41170</string>
	<key>26</key>
	<string>51.56780</string>
	<key>25</key>
	<string>50.72390</string>
	<key>24</key>
	<string>49.88000</string>
	<key>23</key>
	<string>49.03610</string>
	<key>22</key>
	<string>48.19220</string>
	<key>21</key>
	<string>47.34830</string>
	<key>20</key>
	<string>46.50440</string>
	<key>19</key>
	<string>44.83115</string>
	<key>18</key>
	<string>43.15515</string>
	<key>17</key>
	<string>41.47915</string>
	<key>16</key>
	<string>39.80315</string>
	<key>15</key>
	<string>38.12715</string>
	<key>14</key>
	<string>36.45115</string>
	<key>13</key>
	<string>34.75515</string>
	<key>12</key>
	<string>33.09915</string>
	<key>11</key>
	<string>31.42315</string>
	<key>10</key>
	<string>29.74715</string>
	<key>9</key>
	<string>25.75622</string>
	<key>8</key>
	<string>25.75622</string>
	<key>7</key>
	<string>23.76122</string>
	<key>6</key>
	<string>21.76622</string>
	<key>5</key>
	<string>19.77122</string>
	<key>4</key>
	<string>17.01600</string>
	<key>3</key>
	<string>14.26000</string>
	<key>2</key>
	<string>11.50367</string>
	<key>1</key>
	<string>5.52700</string>
	<key>0</key>
	<string>0</string>
</dict>
</plist>
